<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>verbs</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>in</key>
			<string>be</string>
			<key>sp</key>
			<string>was, were</string>
			<key>pp</key>
			<string>been</string>
			<key>prp</key>
			<string>being</string>
			<key>phin</key>
			<string>/bi/</string>
			<key>phsp</key>
			<string>/wəz/ /wə(r)/</string>
			<key>phpp</key>
			<string>/biːn/</string>
			<key>s1</key>
			<string>John is a man.</string>
			<key>s2</key>
			<string>My birthday was last Thursday.</string>
			<key>s3</key>
			<string>I haven&apos;t been there for several years.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>to exist; to take place, occur; an auxiliary verb</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>ser, estar</string>
			<key>trfr</key>
			<string>être</string>
			<key>trpt</key>
			<string>estar</string>
			<key>trge</key>
			<string>sein</string>
			<key>trru</key>
			<string>быть</string>
			<key>trsw</key>
			<string>vara</string>
			<key>trit</key>
			<string>essere</string>
			<key>trin</key>
			<string>menjadi</string>
			<key>trch</key>
			<string>是</string>
			<key>trjp</key>
			<string>居る、いる</string>
			<key>trko</key>
			<string>이다</string>
			<key>trdu</key>
			<string>zijn</string>
			<key>trno</key>
			<string>være</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>in</key>
			<string>have</string>
			<key>sp</key>
			<string>had</string>
			<key>pp</key>
			<string>had</string>
			<key>prp</key>
			<string>having</string>
			<key>phin</key>
			<string>/hæv/</string>
			<key>phsp</key>
			<string>/həd/</string>
			<key>phpp</key>
			<string>/həd/</string>
			<key>s1</key>
			<string>The Simpsons have three children.</string>
			<key>s2</key>
			<string>The boy saw what a mistake he had made.</string>
			<key>s3</key>
			<string>You have had a remarkable life.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>to posses; to do; an auxiliary verb</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>tener, padecer</string>
			<key>trfr</key>
			<string>avoir</string>
			<key>trpt</key>
			<string>ter</string>
			<key>trge</key>
			<string>haben</string>
			<key>trru</key>
			<string>иметь</string>
			<key>trsw</key>
			<string>ha</string>
			<key>trit</key>
			<string>avere</string>
			<key>trin</key>
			<string>memiliki</string>
			<key>trch</key>
			<string>有</string>
			<key>trjp</key>
			<string>持つ、もつ</string>
			<key>trko</key>
			<string>갖다</string>
			<key>trdu</key>
			<string>hebben</string>
			<key>trno</key>
			<string>ha</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>in</key>
			<string>do</string>
			<key>sp</key>
			<string>did</string>
			<key>pp</key>
			<string>done</string>
			<key>prp</key>
			<string>doing</string>
			<key>phin</key>
			<string>/du:/</string>
			<key>phsp</key>
			<string>/dɪd/</string>
			<key>phpp</key>
			<string>/dʌn/</string>
			<key>s1</key>
			<string>I was trying to do some work.</string>
			<key>s2</key>
			<string>We did not know Jamie had a knife.</string>
			<key>s3</key>
			<string>You have done nothing all morning!</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>to perform or carry out; an auxiliary verb</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>hacer</string>
			<key>trfr</key>
			<string>faire</string>
			<key>trpt</key>
			<string>fazer</string>
			<key>trge</key>
			<string>tun, machen</string>
			<key>trru</key>
			<string>делать</string>
			<key>trsw</key>
			<string>göra</string>
			<key>trit</key>
			<string>fare</string>
			<key>trin</key>
			<string>melakukan</string>
			<key>trch</key>
			<string>做</string>
			<key>trjp</key>
			<string>行う</string>
			<key>trko</key>
			<string>하다</string>
			<key>trdu</key>
			<string>doen</string>
			<key>trno</key>
			<string>gjøre</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>in</key>
			<string>say</string>
			<key>sp</key>
			<string>said</string>
			<key>pp</key>
			<string>said</string>
			<key>prp</key>
			<string>saying</string>
			<key>phin</key>
			<string>/seɪ/</string>
			<key>phsp</key>
			<string>/sed/</string>
			<key>phpp</key>
			<string>/sed/</string>
			<key>s1</key>
			<string>I like the way you say thank you.</string>
			<key>s2</key>
			<string>&quot;Let&apos;s do it&quot;, she finally said unceremoniously.</string>
			<key>s3</key>
			<string>Martha, will you say the Pledge of Allegiance?</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>utter words so as to convey information, an opinion, a feeling or intention, or an instruction.</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>decir</string>
			<key>trfr</key>
			<string>dire</string>
			<key>trpt</key>
			<string>dizer</string>
			<key>trge</key>
			<string>sagen</string>
			<key>trru</key>
			<string>сказать</string>
			<key>trsw</key>
			<string>säga</string>
			<key>trit</key>
			<string>dire</string>
			<key>trin</key>
			<string>mengatakan</string>
			<key>trch</key>
			<string>说</string>
			<key>trjp</key>
			<string>言う、いう</string>
			<key>trko</key>
			<string>말하다</string>
			<key>trdu</key>
			<string>zeggen</string>
			<key>trno</key>
			<string>si</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>in</key>
			<string>get</string>
			<key>sp</key>
			<string>got</string>
			<key>pp</key>
			<string>got / gotten</string>
			<key>prp</key>
			<string>getting</string>
			<key>phin</key>
			<string>/get/</string>
			<key>phsp</key>
			<string>/gɒt/</string>
			<key>phpp</key>
			<string>/gɒt/, /&apos;gɒtn/</string>
			<key>s1</key>
			<string>He gets very cross when you ask him personal questions.</string>
			<key>s2</key>
			<string>She&apos;s got two sisters and a brother.</string>
			<key>s3</key>
			<string>He&apos;s just gotten a new job.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>come to have or hold (something); receive. succeed in attaining, achieving, or experiencing; obtain.</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>obtener</string>
			<key>trfr</key>
			<string>obtenir</string>
			<key>trpt</key>
			<string>obter</string>
			<key>trge</key>
			<string>bekommen</string>
			<key>trru</key>
			<string>получить</string>
			<key>trsw</key>
			<string>få</string>
			<key>trit</key>
			<string>ottenere</string>
			<key>trin</key>
			<string>mendapatkan</string>
			<key>trch</key>
			<string>得到</string>
			<key>trjp</key>
			<string>得る、える</string>
			<key>trko</key>
			<string>얻다</string>
			<key>trdu</key>
			<string>krijgen</string>
			<key>trno</key>
			<string>bli</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>in</key>
			<string>make</string>
			<key>sp</key>
			<string>made</string>
			<key>pp</key>
			<string>made</string>
			<key>prp</key>
			<string>making</string>
			<key>phin</key>
			<string>/meɪk/</string>
			<key>phsp</key>
			<string>/meɪd/</string>
			<key>phpp</key>
			<string>/meɪd/</string>
			<key>s1</key>
			<string>They make a cute couple.</string>
			<key>s2</key>
			<string>I made a poem for her wedding.</string>
			<key>s3</key>
			<string>I don’t know what to make of it.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>form (something) by putting parts together or combining substances; construct; create.</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>hacer</string>
			<key>trfr</key>
			<string>faire</string>
			<key>trpt</key>
			<string>obter</string>
			<key>trge</key>
			<string>machen</string>
			<key>trru</key>
			<string>делать</string>
			<key>trsw</key>
			<string>göra</string>
			<key>trit</key>
			<string>fare</string>
			<key>trin</key>
			<string>membuat</string>
			<key>trch</key>
			<string>使</string>
			<key>trjp</key>
			<string>作る、つくる</string>
			<key>trko</key>
			<string>만들다</string>
			<key>trdu</key>
			<string>maken</string>
			<key>trno</key>
			<string>lage</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>in</key>
			<string>go</string>
			<key>sp</key>
			<string>went</string>
			<key>pp</key>
			<string>gone</string>
			<key>prp</key>
			<string>going</string>
			<key>phin</key>
			<string>/gou/</string>
			<key>phsp</key>
			<string>/went/</string>
			<key>phpp</key>
			<string>/gɒn/</string>
			<key>s1</key>
			<string>Peter goes to church on Sundays.</string>
			<key>s2</key>
			<string>She went out to the store.</string>
			<key>s3</key>
			<string>They had already gone to the show so we didn&apos;t go.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>move from one place or point to another; travel.</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>ir</string>
			<key>trfr</key>
			<string>aller</string>
			<key>trpt</key>
			<string>ir</string>
			<key>trge</key>
			<string>gehen</string>
			<key>trru</key>
			<string>идти</string>
			<key>trsw</key>
			<string>gå</string>
			<key>trit</key>
			<string>partire</string>
			<key>trin</key>
			<string>pergi</string>
			<key>trch</key>
			<string>走</string>
			<key>trjp</key>
			<string>行く</string>
			<key>trko</key>
			<string>가다</string>
			<key>trdu</key>
			<string>gaan</string>
			<key>trno</key>
			<string>gå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>in</key>
			<string>know</string>
			<key>sp</key>
			<string>knew</string>
			<key>pp</key>
			<string>known</string>
			<key>prp</key>
			<string>knowing</string>
			<key>phin</key>
			<string>/nou/</string>
			<key>phsp</key>
			<string>/nu:/</string>
			<key>phpp</key>
			<string>/noun/</string>
			<key>s1</key>
			<string>I know your mother, but I’ve never met your father.</string>
			<key>s2</key>
			<string>She knew of our plan.</string>
			<key>s3</key>
			<string>Bivalved crustaceans little known to non professionals.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>be aware of through observation, inquiry, or information; be familiar or friendly with</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>saber</string>
			<key>trfr</key>
			<string>connaître</string>
			<key>trpt</key>
			<string>conhecer</string>
			<key>trge</key>
			<string>kennen</string>
			<key>trru</key>
			<string>знать</string>
			<key>trsw</key>
			<string>veta</string>
			<key>trit</key>
			<string>conoscere</string>
			<key>trin</key>
			<string>tahu</string>
			<key>trch</key>
			<string>知道</string>
			<key>trjp</key>
			<string>知る、しる</string>
			<key>trko</key>
			<string>알다</string>
			<key>trdu</key>
			<string>kennen</string>
			<key>trno</key>
			<string>vite</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>in</key>
			<string>take</string>
			<key>sp</key>
			<string>took</string>
			<key>pp</key>
			<string>taken</string>
			<key>prp</key>
			<string>taking</string>
			<key>phin</key>
			<string>/teɪk/</string>
			<key>phsp</key>
			<string>/tʊk/</string>
			<key>phpp</key>
			<string>/&apos;teɪkən/</string>
			<key>s1</key>
			<string>She leaned forward to take her hand.</string>
			<key>s2</key>
			<string>He took ten gold pieces from his table and wrapped them in the little letter.</string>
			<key>s3</key>
			<string>It was a picture taken at the party and the focus was on Carmen and Alex.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>lay hold of (something) with one&apos;s hands; reach for and hold; carry or bring with one; convey</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>tomar</string>
			<key>trfr</key>
			<string>prendre</string>
			<key>trpt</key>
			<string>levar</string>
			<key>trge</key>
			<string>nehmen</string>
			<key>trru</key>
			<string>принимать</string>
			<key>trsw</key>
			<string>ta</string>
			<key>trit</key>
			<string>prendere</string>
			<key>trin</key>
			<string>mengambil</string>
			<key>trch</key>
			<string>采取</string>
			<key>trjp</key>
			<string>テイク</string>
			<key>trko</key>
			<string>가져가다</string>
			<key>trdu</key>
			<string>nemen</string>
			<key>trno</key>
			<string>ta</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>in</key>
			<string>see</string>
			<key>sp</key>
			<string>saw</string>
			<key>pp</key>
			<string>seen</string>
			<key>prp</key>
			<string>seeing</string>
			<key>phin</key>
			<string>/si:/</string>
			<key>phsp</key>
			<string>/sɔ:/</string>
			<key>phpp</key>
			<string>/si:n/</string>
			<key>s1</key>
			<string>I can&apos;t see any other way to treat it.</string>
			<key>s2</key>
			<string>The wolf saw him.</string>
			<key>s3</key>
			<string>You should have seen Dad&apos;s face.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>perceive with the eyes; discern visually; discern or deduce mentally after reflection or from information; understand</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>ver</string>
			<key>trfr</key>
			<string>voir</string>
			<key>trpt</key>
			<string>ver</string>
			<key>trge</key>
			<string>sehen</string>
			<key>trru</key>
			<string>видеть</string>
			<key>trsw</key>
			<string>se</string>
			<key>trit</key>
			<string>vedere</string>
			<key>trin</key>
			<string>melihat</string>
			<key>trch</key>
			<string>看到</string>
			<key>trjp</key>
			<string>見る</string>
			<key>trko</key>
			<string>보다</string>
			<key>trdu</key>
			<string>zien</string>
			<key>trno</key>
			<string>se</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>in</key>
			<string>come</string>
			<key>sp</key>
			<string>came</string>
			<key>pp</key>
			<string>come</string>
			<key>prp</key>
			<string>coming</string>
			<key>phin</key>
			<string>/kʌm/</string>
			<key>phsp</key>
			<string>/keɪm/</string>
			<key>phpp</key>
			<string>/kʌm/</string>
			<key>s1</key>
			<string>May we come in?</string>
			<key>s2</key>
			<string>Jessica came into the kitchen.</string>
			<key>s3</key>
			<string>&quot;The end of the world has come!&quot; cried some; and they ran about in the darkness.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>move or travel toward or into a place thought of as near or familiar to the speaker</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>venir</string>
			<key>trfr</key>
			<string>venir</string>
			<key>trpt</key>
			<string>vir</string>
			<key>trge</key>
			<string>kommen</string>
			<key>trru</key>
			<string>приехать</string>
			<key>trsw</key>
			<string>komma</string>
			<key>trit</key>
			<string>venire</string>
			<key>trin</key>
			<string>datang</string>
			<key>trch</key>
			<string>来</string>
			<key>trjp</key>
			<string>来る、くる</string>
			<key>trko</key>
			<string>오다</string>
			<key>trdu</key>
			<string>komen</string>
			<key>trno</key>
			<string>komme</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>in</key>
			<string>think</string>
			<key>sp</key>
			<string>thought</string>
			<key>pp</key>
			<string>thought</string>
			<key>prp</key>
			<string>thinking</string>
			<key>phin</key>
			<string>/θɪŋk/</string>
			<key>phsp</key>
			<string>/θɔ:t/</string>
			<key>phpp</key>
			<string>/θɔ:t/</string>
			<key>s1</key>
			<string>He could not think of anything else.</string>
			<key>s2</key>
			<string>She thought that nothing would be the same again.</string>
			<key>s3</key>
			<string>I never thought I could do it.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>have a particular opinion, belief, or idea about someone or something; direct one&apos;s mind toward someone or something; use one&apos;s mind actively to form connected ideas.</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>pensar</string>
			<key>trfr</key>
			<string>penser</string>
			<key>trpt</key>
			<string>pensar</string>
			<key>trge</key>
			<string>denken</string>
			<key>trru</key>
			<string>думать</string>
			<key>trsw</key>
			<string>tänka</string>
			<key>trit</key>
			<string>pensare</string>
			<key>trin</key>
			<string>berpikir</string>
			<key>trch</key>
			<string>认为</string>
			<key>trjp</key>
			<string>考える、思う</string>
			<key>trko</key>
			<string>생각하다</string>
			<key>trdu</key>
			<string>denken</string>
			<key>trno</key>
			<string>synes</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>in</key>
			<string>look</string>
			<key>sp</key>
			<string>looked</string>
			<key>pp</key>
			<string>looked</string>
			<key>prp</key>
			<string>looking</string>
			<key>phin</key>
			<string>/lʊk/</string>
			<key>phsp</key>
			<string>/&apos;lʊkt/</string>
			<key>phpp</key>
			<string>/&apos;lʊkt/</string>
			<key>s1</key>
			<string>Do I look that bad?</string>
			<key>s2</key>
			<string>The boy looked around him with wondering eyes.</string>
			<key>s3</key>
			<string>Oh, I wish I had looked after my teeth.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>0</integer>
			<key>de</key>
			<string>direct one&apos;s gaze toward someone or something or in a specified direction</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>mirar</string>
			<key>trfr</key>
			<string>regarder</string>
			<key>trpt</key>
			<string>olhar</string>
			<key>trge</key>
			<string>aussehen</string>
			<key>trru</key>
			<string>смотреть</string>
			<key>trsw</key>
			<string>titta</string>
			<key>trit</key>
			<string>guardare</string>
			<key>trin</key>
			<string>melihat</string>
			<key>trch</key>
			<string>看</string>
			<key>trjp</key>
			<string>見る、みる</string>
			<key>trko</key>
			<string>보다</string>
			<key>trdu</key>
			<string>kijken</string>
			<key>trno</key>
			<string>se</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>in</key>
			<string>want</string>
			<key>sp</key>
			<string>wanted</string>
			<key>pp</key>
			<string>wanted</string>
			<key>prp</key>
			<string>wanting</string>
			<key>phin</key>
			<string>/&apos;wɒnt/</string>
			<key>phsp</key>
			<string>/&apos;wɒntɪd/</string>
			<key>phpp</key>
			<string>/&apos;wɒntɪd/</string>
			<key>s1</key>
			<string>I don&apos;t want this night to end.</string>
			<key>s2</key>
			<string>He wanted the wisdom of the gods.</string>
			<key>s3</key>
			<string>You shall want for nothing while you are with me.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>0</integer>
			<key>de</key>
			<string>have a desire to possess or do (something); wish for; lack or be short of something desirable or essential</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>querer</string>
			<key>trfr</key>
			<string>vouloir</string>
			<key>trpt</key>
			<string>querer</string>
			<key>trge</key>
			<string>wollen</string>
			<key>trru</key>
			<string>хотеть</string>
			<key>trsw</key>
			<string>vilja</string>
			<key>trit</key>
			<string>volere</string>
			<key>trin</key>
			<string>ingin</string>
			<key>trch</key>
			<string>要</string>
			<key>trjp</key>
			<string>欲しがる、ほしがる</string>
			<key>trko</key>
			<string>원하다</string>
			<key>trdu</key>
			<string>willen</string>
			<key>trno</key>
			<string>ville ha</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>in</key>
			<string>give</string>
			<key>sp</key>
			<string>gave</string>
			<key>pp</key>
			<string>given</string>
			<key>prp</key>
			<string>giving</string>
			<key>phin</key>
			<string>/gɪv/</string>
			<key>phsp</key>
			<string>/geɪv/</string>
			<key>phpp</key>
			<string>/&apos;gɪvən/</string>
			<key>s1</key>
			<string>I&apos;m too close to my goal to give up now.</string>
			<key>s2</key>
			<string>They gave her water to drink.</string>
			<key>s3</key>
			<string>She hadn&apos;t been given that much consideration.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string>freely transfer the possession of (something) to (someone); hand over to</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>dar</string>
			<key>trfr</key>
			<string>donner</string>
			<key>trpt</key>
			<string>dar</string>
			<key>trge</key>
			<string>geben</string>
			<key>trru</key>
			<string>давать</string>
			<key>trsw</key>
			<string>ge</string>
			<key>trit</key>
			<string>dare</string>
			<key>trin</key>
			<string>memberikan</string>
			<key>trch</key>
			<string>给</string>
			<key>trjp</key>
			<string>与える</string>
			<key>trko</key>
			<string>주다</string>
			<key>trdu</key>
			<string>geven</string>
			<key>trno</key>
			<string>gi</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>in</key>
			<string>use</string>
			<key>sp</key>
			<string>used</string>
			<key>pp</key>
			<string>used</string>
			<key>prp</key>
			<string>using</string>
			<key>phin</key>
			<string>/&apos;ju:z/</string>
			<key>phsp</key>
			<string>/&apos;ju:zd/</string>
			<key>phpp</key>
			<string>/&apos;ju:zd/</string>
			<key>s1</key>
			<string>I figured you could use the rest.</string>
			<key>s2</key>
			<string>She used the remote to shut the television off.</string>
			<key>s3</key>
			<string>You&apos;ll get used to it.</string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>0</integer>
			<key>de</key>
			<string>take, hold, or deploy (something) as a means of accomplishing a purpose or achieving a result; employ</string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string>utilizar</string>
			<key>trfr</key>
			<string>utiliser</string>
			<key>trpt</key>
			<string>usar</string>
			<key>trge</key>
			<string>benutzen</string>
			<key>trru</key>
			<string>использовать</string>
			<key>trsw</key>
			<string>använda</string>
			<key>trit</key>
			<string>utilizzare</string>
			<key>trin</key>
			<string>menggunakan</string>
			<key>trch</key>
			<string>使用</string>
			<key>trjp</key>
			<string>用いる</string>
			<key>trko</key>
			<string>사용하다, 활용하다</string>
			<key>trdu</key>
			<string>gebruiken</string>
			<key>trno</key>
			<string>bruke</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>in</key>
			<string></string>
			<key>sp</key>
			<string></string>
			<key>pp</key>
			<string></string>
			<key>prp</key>
			<string></string>
			<key>phin</key>
			<string></string>
			<key>phsp</key>
			<string></string>
			<key>phpp</key>
			<string></string>
			<key>s1</key>
			<string></string>
			<key>s2</key>
			<string></string>
			<key>s3</key>
			<string></string>
			<key>co</key>
			<integer>0</integer>
			<key>re</key>
			<integer>1</integer>
			<key>de</key>
			<string></string>
			<key>no</key>
			<string></string>
			<key>tres</key>
			<string></string>
			<key>trfr</key>
			<string></string>
			<key>trpt</key>
			<string></string>
			<key>trge</key>
			<string></string>
			<key>trru</key>
			<string></string>
			<key>trsw</key>
			<string></string>
			<key>trit</key>
			<string></string>
			<key>trin</key>
			<string></string>
			<key>trch</key>
			<string></string>
			<key>trjp</key>
			<string></string>
			<key>trko</key>
			<string></string>
			<key>trdu</key>
			<string></string>
			<key>trno</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
